<!DOCTYPE html>
<html>
    <body>
        <h3>Hi, <%= @user.name %>. What would you like to do? </h3>
	<h4>Write a new review:</h4>
	<a href='/reviews/new'>New Review</a>
	<h5 class='home-links'><a href='/reviews'>View all reviews</a></h5>
	<h5 class='home-links'><a href='/logout'>Logout</a></h5>
    </body>
</html>
