<!DOCTYPE html>
<html>
    <body>
        <h3>Hi, <%= @user.name %>. What would you like to do? </h3>
	<h4>View and edit your latest review:</h4>
	<a href='/reviews/<%= @review.id %>'><%= @review.title %></a>
	<a href='/reviews/<%= @review.id %>/edit'>edit</a>
    </body>
</html>
