<h3>Hi, <%= @user.name %>. What would you like to do? </h3>
<!-- list users reviews (edit/delete)
     x link to create review
     x link to all reviews
     x logout link	  -->

<p><a href='/reviews'>View all reviews</a></p>
<p><a href='/reviews/new'>Leave a review</a></p>
<h5 style='text-align: center'><a href='/logout'>Logout of Poppy</a></h5>