<h3>Hi, <%= @user.name %>. What would you like to do? </h3>
<!-- list users reviews (edit/delete)
     link to create review
     link to all reviews
     logout link	  -->

<p><a href='/reviews'>View all reviews</a></p>
<p><a href='/reviews/new'>Leave a review</a></p>