<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
      <h1>Write a Review</h1>
      <form method='POST' action='/reviews/review'>
	<label><h4>Title: </h4></label>
	<input type='text' name='title'/>
	<br/>
	<label><h4>Director: </h4></label>
	<input type='text' name='director'/>
	<br/>
	<label><h4>Favorite Character: </h4></label>
	<input type='text' name='fav_character'/>
	<br/>
	<label><h4>Description: </h4></label>
	<textarea rows='5' columns='50' name='description'></textarea>
	<br/>
	<label><h4>Rating: </h4></label>
	<input type='text' name='rating'/>
	<input type='submit' value='Submit'/>
      </form>
    </body>
</html>
