<div class="container">
  
  <div class="col-md-8 col-md-offset-2">
    
    <div class="content">
      <p>Welcome to Poppy! A place for movie lovers to gather and discuss films.</p>
    </div>

    <div class="sidebar">
      <h3>Log in to Poppy</h3>
      <!-- <p id='invalid'><%= puts @invalid %></p> -->
          <form method='post' action='/sessions'>
	      <label>Email</label>
	      <input type='text' name='email' id='email'>
	      <label>Password</label>
	      <input type='password' name='password' id='password'>
	      <input type='submit' value='Log In'>
	  </form>
	  New to Poppy? <a href='/signup'>Sign up now</a>
    </div>

  </div>
</div>
