<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
      <h1>Write a Review</h1>
      <form method='POST' action='/review'>
	<label><h4>Title: </h4><input type='text' name='title'></label><br/>
	<label><h4>Director: </h4><input type='text' name='director'></label><br/>
	<label><h4>Favorite Character: </h4><input type='text' name='fav_character'></label><br/>
	<label><h4>Description: </h4><textarea rows='5' columns='50' name='description'></textarea></label><br/>
	<input type='submit'>
      </form>
    </body>
</html>
