<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<form method='POST' action='/review'>
		      <label>Title: <input type='text' name='title'></label><br/>
		      <label>Director: <input type='text' name='director'></label><br/>
		      <label>Favorite Character: <input type='text' name='fav_character'></label><br/>
		      <label>Description: <br/><textarea rows='5' columns='50' name='description'></textarea></label><br/>
		</form>
	</body>
</html>
