<!DOCTYPE html>
<html>
  <body>
    <ul style='display: flex; justify-content: center'>
      <li><h5><a href='/users/home'>Home</a></h5></li>
      <h5> | </h5>
      <li><h5><a href='/reviews/new'>Write a Review</a></h5></li>
    </ul>
    <form method='post' action='/reviews/search'>
      <label for='search'>Search reviews</label>
      <input type='text' name='search' />
      <input type='submit' value='Search' />
    </form>
    <ul>
      <% @reviews.each do |review| %>
      <li><a href="reviews/<%= review.id %>"><%= review.title %></a></li>
      <% end %>
    </ul>
    <h5 class='home-links'><a href='/logout'>Logout</a></h5>
  </body>
</html>
